.ImageSelect {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.ImageSelect > img {
    flex-grow: 0;
    width: 50px;
}

.ImageSelect > label {
    flex-grow: 1;
}