.monospace {
  font-family: monospace;
}

.flex {
    display: flex;
}

.flex-between {
    justify-content: space-between;
    align-items: center;
}

.Panel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.p-component {
    margin: 0.5rem;
}